
body{
    background-color: #000000;
}
.themeBlack {
  background-color: #1d1d1d;
  color: #f2f5f9; /* text color for dark theme */
}
.themeLight {
  background-color: #CCC9DC;
  color: #1a1a1a; /* text color for light theme */
}
.themeButton{
    border: none;
    background: none;
}
.previewSection{
  padding: 10px 22px;
  text-align: center;
}
.preview{
  background-color: #000000;

}
@media (min-width: 766px) and (max-width: 992px) {
  .previewSection{
    padding: 10px 20px;
  }
}

ul{
 list-style-type: none;
 padding: 0;
 margin: 0;
}
button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  
}
.hidden{
    display: none;
}
.previewButton{
  font-family: fantasy;
  font-size: 25px;
}
.alertify{
  text-align: right;
}
.swal2-title{
  padding: 0;
}
.title-popup{
  padding: 5px 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.swal2-popup{
  border-radius: 8px
}

  .swal2-actions {
      justify-content: flex-start !important;
      padding: 20px 10px 10px !important;
      margin: 0;
    }

    .swal2-confirm {
      background: #e33847 !important;
      margin-right: 10px !important;
    }

    .swal2-cancel {
      display: block !important;
      background: #95a5a6 !important;
    }
     .result-message {
        margin-top: 20px;
        padding: 15px;
        border-radius: 6px;
        font-weight: 500;
        
      }
      
      .success {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
      }