
body{
    background-color: #000000;
}
.themeBlack {
  background-color: #1d1d1d;
  color: #f2f5f9; /* text color for dark theme */
}
.themeLight {
  background-color: #CCC9DC;
  color: #1a1a1a; /* text color for light theme */
}
.themeButton{
    border: none;
    background: none;
}
.previewSection{
  padding: 10px 22px;
  text-align: center;
}
.preview{
  background-color: #000000;
  width: 500px;
  height: 250px;
}
@media (min-width: 766px) and (max-width: 992px) {
  .previewSection{
    padding: 10px 20px;
  }
  .preview{
    
    width: 300px;
    height: 180px;
  }
}

ul{
 list-style-type: none;
 padding: 0;
 margin: 0;
}
button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  
}
.hidden{
    display: none;
}
.previewButton{
  font-family: fantasy;
  font-size: 25px;
}